{% extends "base.html" %}

{% block head %}
<h1> This is index </h1>
{% endblock %}

{% block body %}
<h1> Search: </h1>
<form method="GET" class="form-inline" role="form">
  <input type="text" class="form-control"
                     id="query"
                     name="query"
                     placeholder="Who is John Cena?" autofocus>
  <button href="#" type="submit" class="btn btn-default">Search</button>
</form>

{% if QUERY %}
<h2> {{ QUERY }} </h2>
{% endif %}

{% if RESULT  %}
<center>
<ul>
{% for result in RESULT %}
  <li> {{ result }} </li>
{% endfor %}
</ul>
</center>
{% endif %}
{% endblock %}
